
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(8E0plSD.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  
}

.wrapper {
  border: 2px solid rgba(255, 255, 255, 0.603);
  width: 550px;
  background: transparent;
  color: #fff;
  border-radius: 25px;
  padding: 40px 50px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  
}

.wrapper:hover {
  backdrop-filter: blur(25px);
  transition: 1s;
}

.wrapper h1 {
  text-align: center;
  margin-bottom: 50px;
}

.wrapper h2 {
  text-align: center;
  margin-bottom: 40px;

}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px; 
}

a {
  text-align: center;
  margin-left: 15px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 40px;
  border: none;
  outline: none;
  width: 150px;
  font-weight: 700;
  font-size: 17px;
  color:  #252525;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  cursor: pointer;
  text-decoration: none;
}


a:hover {
  transition: 0.5s;
 opacity: 0.9;
 color: #fff;
 background: #6d6666;
}